*,
*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.container{
  display: flex;
  flex-direction: column;
  
  width: 360px;
  padding: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 345px;
  
  position: relative;
}

.bloqueuno{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  width: 340px;
  height:80px ;
  background-color: #747168; 
}

.bloqueuno h2{
  font-family:Arial, Helvetica, sans-serif;
  font-size:medium;
  font-weight: lighter;
  font-stretch: expanded;
  letter-spacing: 10px;
  margin-top: 10px;
  color:rgb(252, 252, 250);
}

.bloquedos{
  display: flex;
  flex-direction: row;
  width: 340px;
  height: 300px;
}


.bloquetres{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #e1e2e3;
    position: relative;   
}

.bloquetres h4{
  display: flex;
  font-size: small;
  font-weight: 200;
  margin-left:10px;
  bottom: 70px;
  position: absolute;
}

.images-logos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 30px;
  gap: 1rem;
  bottom:30px;
  position: absolute;
}

.images-logos img{
  display: flex;
  width: 30px;
  bottom: 30px;
  object-fit: cover;

}

.logos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos h3{
  display: flex;
  font-size: 8px;
}
  
.bloquecuatro{
    display: flex;
    width: 40px;
    height: 300px;
    background-color: rgb(247, 241, 241);
    
}  



.image-list{
  display: flex;
  max-width: 300px;
  height: 250px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  transform: translateX(10%);
  z-index: 20;
  position: absolute;
  top: 40px;
  right: 60px;
}

.image-list .image-item{
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

.wathsap-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wathsap-icon{
  display: flex;
  height: 40px;
  width: 40px;
}

.mensaje{
  display: flex;
}
.pulso{
  height:40px;
  width:40px;
  background: linear-gradient(#f8f8f6,#f5f4f4);
  position: absolute;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color:#ffffff;
}

.pulso:before,
.pulso:after{
  content:"";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:rgb(10, 246, 10);
  border-radius: 50%;
  z-index: -1;
  opacity: 5.5;
}

.pulso:before{
  animation:  pulso 2s ease-out infinite;
}

.pulso:after{
  animation: pulso 2s 1s ease-out infinite;
}

.informacion{
  display: flex;
  gap: 1rem;
}

.informacion h1{
  display: flex;
  font-size: 20px;
  color: black;
  margin: 0 1.2rem;
}

.informacion h2{
  display: flex;
  font-size: 17px;
  color:#353432;
  margin: 0 1.2rem;
}

.informacion h3{
  display: flex;
  font-size: 10px;
  color:#353432;
  margin: 0 1.2rem;
}

.pedirinfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 9rem;
}


.mensaje{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 209, 207);
  text-align: center;
  border-radius: 20%;
}

.boton_mensaje{
  height: 60px;
  width: 80px;
}

.boton_mensaje a{
 display: flex;
 align-items: center;
 justify-content: center;
}

.logo_mensaje{
  height: 30px;
  width: 30px;
}

.logo_ubicacion{
  height: 50px;
  width: 50px;
}

.mapa_ubicacion{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(7, 7, 221);  
  
  margin: 2rem 4rem;
}

.container_map{
  display: flex;
  background-color: yellow;
  height: 200px;
  
}

.map{
  display: flex;
  background-color: turquoise;
  margin-top: 0.5rem;
  margin-bottom: 0.55rem;

}



.mail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario{
  display: flex;
  flex-direction: column;
  align-items:start;
  width: 300px;
  height: 310px;
  margin: 0 2rem;
  border-style: hidden;
  border-radius: 5%;
  color:#ffffff;
  border-color: #060605;
  background-color: rgb(52, 87, 129);
}

.formulario input{
  display: flex;
  width: 260px;
  margin-left: 20px;
}

.formulario label{
  display: flex;
  margin-left: 20px;
}

.formulario textarea{
  width: 260px;
  margin-left: 20px;
}

.enviar{
  margin-top: 10px;
  height: 30px;
}


@keyframes pulso{
  100%{
    transform: scale(2.0);
    opacity: .6;
  }
}


@keyframes colorAnimate{
  100%{
    filter:hue-rotate(360deg);
  }
}


  



