*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  display: flex;
  flex-direction: column;
  
  width: 360px;
  padding: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 345px;
  
  position: relative;
}

.bloqueuno{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:start;
  width: 340px;
  height:80px ;
  background-color: #747168; 
}

.bloqueuno h2{
  font-family:Arial, Helvetica, sans-serif;
  font-size:medium;
  font-weight: lighter;
  font-stretch: expanded;
  letter-spacing: 10px;
  margin-top: 10px;
  color:rgb(252, 252, 250);
}

.bloquedos{
  display: flex;
  flex-direction: row;
  width: 340px;
  height: 300px;
}


.bloquetres{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: #e1e2e3;
    position: relative;   
}

.bloquetres h4{
  display: flex;
  font-size: small;
  font-weight: 200;
  margin-left:10px;
  bottom: 70px;
  position: absolute;
}

.images-logos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 30px;
  gap: 1rem;
  bottom:30px;
  position: absolute;
}

.images-logos img{
  display: flex;
  width: 30px;
  bottom: 30px;
  object-fit: cover;

}

.logos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos h3{
  display: flex;
  font-size: 8px;
}
  
.bloquecuatro{
    display: flex;
    width: 40px;
    height: 300px;
    background-color: rgb(247, 241, 241);
    
}  



.image-list{
  display: flex;
  max-width: 300px;
  height: 250px;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  transform: translateX(10%);
  z-index: 20;
  position: absolute;
  top: 40px;
  right: 60px;
}

.image-list .image-item{
  flex-shrink: 0;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}


.contactame{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.contain_wathsap{
  display: flex;
}


.container_map{
  display: flex;

}

.map{
  display: flex;

  width: 100px;
  height: 100px;
}

.logo_wathsap{
  display: flex;
}

.img_wathsap{
  display: flex;
  transition-timing-function: ease-in;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}





  



